<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angajați Disponibili</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/angajat.css') }}">
</head>
<body>
    <h1>Angajați Disponibili</h1>
    
    <table>
        <thead>
            <tr>
                <th>Nume</th>
                <th>Prenume</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee[0] }}</td>
                <td>{{ employee[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('auth') }}">
        <button class="button">Acasa</button>
    </a>
</body>
</html>
