<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comenzi.css') }}">
</head>
<body>
    <h1>Orders</h1>
    <h2>Comenzi</h2>

    <table>
        <thead>
            <tr>
                <th>Client</th>
                <th>Status</th>
                <th>Data Asignării</th>
                <th>Data Finalizării</th>
                <th>Preț Final</th>
                <th>Detalii comanda</th>
            </tr>
        </thead>
        <tbody>
            {% for comanda in comenzi %}
            <tr>
                <td>{{ comanda.Nume_Client }}</td>
                <td>{{ comanda.Status }}</td>
                <td>{{ comanda.Data_Asignare }}</td>
                <td>{{ comanda.Data_Finalizare }}</td>
                <td>{{ comanda.Pret_Final }}</td>
            
                <td>
                    <a href="{{ url_for('servicii_comanda', id_comanda=comanda.ID_Comanda) }}">
                        <button class="button">Detalii</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('adauga_comanda') }}">
        <button class="button">Adauga comanda</button>
    </a>
    <a href="{{ url_for('auth') }}">
        <button class="button">Acasa</button>
    </a>

</body>
</html>
