<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comenzi Client</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comenzi_client.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h2>Comenzi ale clientului</h2>
        
        {% if orders %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nume Client</th>
                        <th>Prenume Client</th> 
                        <th>Data Asignare</th>
                        <th>Status Comandă</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order[0] }}</td> 
                            <td>{{ order[1] }}</td> 
                            <td>{{ order[3] }}</td> 
                            <td>{{ order[4] }}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nu au fost găsite comenzi pentru clientul specificat.</p>
        {% endif %}
    </div>

</body>
</html>
