<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <form action="/" method="POST" style="width: 300px; margin: auto; padding: 20px; border: 1px solid #ccc;">
        <h2>Login</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div>
            <p style="color: red;"> Datele de autentificare nu sunt corecte </p>
        </div>
        
        {% endif %}
        {% endwith %}
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <br><br>
        <label for="parola">Parolă:</label>
        <input type="password" id="parola" name="parola" required>
        <br><br>   
        <button type="submit">Autentificare</button>
   
    </form>

   
</body>
</html>

